.tippy-tooltip.core-theme {
  background-color: rgba(0, 86, 216, 0.75);
  color: #e2e2e2;
}
/* content */
.tippy-tooltip.core-theme p {
  margin: 0;
  text-align: left;
  padding: 0 10px;
}
.tippy-tooltip.core-theme p a {
  color: #e2e2e2;
  border-bottom-color: #e2e2e2;
}
.tippy-tooltip.core-theme p a:hover{
  color: #fff;
  border-bottom-color: #fff;
}

/* arrow */
.tippy-popper[x-placement^='top'] .tippy-tooltip.core-theme .tippy-arrow {
  border-top-color: rgba(0, 86, 216, 0.75);
  bottom: -10.5px;
}
.tippy-popper[x-placement^='bottom'] .tippy-tooltip.core-theme .tippy-arrow {
  border-bottom-color: rgba(0, 86, 216, 0.75);
  top: -10.5px;
}

/* footnote */
a.footnote-ref > sup:before {
  content: "["
}
a.footnote-ref > sup:after {
  content: "]"
}
.tippy-popper[data-html]{
  max-width: calc(60% - 20px);
}